.activity-bg {
  height: 53px;
  width: 53px;
  background-color: rgb(214, 214, 214);
  border-radius: 50%;
  display: flex;
  flex-direction: row-reverse;
  background-position: center;
  background-size: cover;
  .status {
    margin-top: -4px;
    margin-right: -4px;
    height: 12px;
    width: 12px;
    background-color: #219650;
    border-radius: 50%;
    border: rgb(39, 39, 39) 3.5px solid;
    &.inactive {
      background-color: rgb(78, 78, 78);
    }
  }
}