*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100vh;
}

html {
  scroll-behavior: smooth;
}

#myJumbotron{
	padding: 20px;
	background: linear-gradient(57deg,#03b8a5,#0b999f);
}

#myName{
	color: white;
	font-weight:bold;
	font-family: 'Seymour One', sans-serif;
}

#myLinks{
	color: white;
}


#skills span{
	/* font-family: 'Handlee', cursive; */
	font-weight:bold;
	font-size: 25px;
	color: white;
}

#frameworks li{
	font-family: 'Handlee', cursive;
	
}




	/* Project */
#usedTechnology span{
	font-size: 20px;
}

#usedTechnology_frameworks li{
	font-family: cursive;
}

#proj_image{
	background-size:cover; 
}
#proj_name{
	color: white;
	text-align: center;
	/* font-weight: bold; */
	font-family: 'akronim', cursive;
}
