.visual-bg {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        margin-top: 80px;
    }
    .year {
        margin: 0;
        margin-top: -130px;
        font-size: 150px;
        opacity: 0.1;
        z-index: -2;
        animation: shake 5s;
        animation-iteration-count: infinite;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            margin-top: -100px;
            margin-bottom: -40px;
            font-size: 100px;
        }
    }
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        height: 270px;
        width: 270px;
    }
    .top-lable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 135%;
        margin-top: -10%;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            width: 100%;
            margin-top: 85%;
        }
        &.down {
            margin-bottom: 7%;
            margin-left: 30%;
            justify-content: center;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                margin: 0;
                margin-top: 5px;
            }
        }
        .current-job {
            height: 160px;
            width: 145px;
            border-radius: 15px;
            background: #201e1ca4;
            backdrop-filter: blur(40px);
            color: white;
            box-shadow: -1px 2px 17px -4px rgba(0, 0, 0, 0.54);
            animation: shake1 10s;
            animation-iteration-count: infinite;
            -webkit-box-shadow: -1px 2px 17px -4px rgba(0, 0, 0, 0.54);
            -moz-box-shadow: -1px 2px 17px -4px rgba(0, 0, 0, 0.54);
            padding: 15px 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                // animation: none;
                align-items: center;
                height: 170px;
                width: 130px;
            }
            &.flat {
                height: 55px;
                width: 200px;
                animation: shake 8s;
                animation-iteration-count: infinite;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                @media only screen and (max-width: 768px) {
                    /* For mobile phones: */
                    animation: none;
                    flex-direction: column;
                    align-items: center;
                    height: 120px;
                    width: 103px;
                }
            }
            &.flat-large {
                animation: none;
                height: 77px;
                width: 225px;
                padding: 15px 35px;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            .flat-con {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px;
                @media only screen and (max-width: 768px) {
                    /* For mobile phones: */
                    align-items: center;
                    margin-left: 0px;
                }
            }
            .card-title {
                margin: 5px 0;
                font-weight: 500;
            }
            .card-sub {
                margin: 0;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}
@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(0px, 10px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
@keyframes shake1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(0px, -10px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
