.visual-bg {
    height: 360px;
    width: 350px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        margin-top: 80px;
    }
    .year {
        margin: 0;
        margin-top: -130px;
        font-size: 150px;
        opacity: 0.1;
        z-index: -2;
        animation: shake 5s;
        animation-iteration-count: infinite;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            margin-top: -100px;
            margin-bottom: -40px;
            font-size: 100px;
        }
    }
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        height: 270px;
        width: 270px;
    }
    .top-lable {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 140%;
        margin-top: -10%;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            width: 100%;
            // margin-top: 85%;
            margin-top: 240px;
        }
        &.down {
            // margin-bottom: 7%;
            margin-left: 30%;
            justify-content: center;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                margin: 0;
                margin-top: 5px;
            }
        }
        .current-job {
            height: 160px;
            width: 145px;
            border-radius: 15px;
            color: white;
            box-shadow: -1px 2px 17px -4px rgba(0, 0, 0, 0.54);

            background: rgba(29, 30, 30, 0.3);
            box-shadow: 0 8px 32px 0 #161414ad;
            backdrop-filter: blur(9px);
            -webkit-backdrop-filter: blur(20px);
            border: 1px solid rgba(255, 255, 255, 0.18);

            animation: shake1 10s;
            animation-iteration-count: infinite;
            // -webkit-box-shadow: -1px 2px 17px -4px rgba(0, 0, 0, 0.54);
            -moz-box-shadow: -1px 2px 17px -4px rgba(0, 0, 0, 0.54);
            padding: 15px 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;

            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                // animation: none;
                align-items: center;
                height: 170px;
                width: 130px;
            }
            &.flat {
                height: 55px;
                width: 200px;
                animation: shake 8s;
                animation-iteration-count: infinite;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                @media only screen and (max-width: 768px) {
                    /* For mobile phones: */
                    animation: none;
                    flex-direction: column;
                    align-items: center;
                    height: 120px;
                    width: 103px;
                }
            }
            &.flat-large {
                animation: none;
                height: 65px;
                width: 204px;
                padding: 7px 22px;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
            }
            &.flat-extra {
                position: absolute;
                top: 28vh;
                left: 49vw;
                height: 65px;
                width: 190px;
                animation: shake 8s;
                animation-iteration-count: infinite;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 5px 2px;
                @media only screen and (max-width: 768px) {
                    /* For mobile phones: */
                    top: 380px;
                    left: 5px;
                    flex-direction: column;
                    align-items: center;
                    height: 145px;
                    width: 90px;
                }
            }
            .flat-con {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 4px;
                @media only screen and (max-width: 768px) {
                    /* For mobile phones: */
                    align-items: center;
                    margin-left: 0px;
                }
            }
            .card-title {
                margin: 5px 0;
                font-weight: 500;
            }
            .card-sub {
                margin: 0;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}
@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(0px, 10px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}
@keyframes shake1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(0px, -10px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}

// Profile Image Circle Start
.circle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border-color: #7b36b4;
    border-style: solid;
    border-width: 1px;
    animation: circular 3s ease infinite;
}

.pp {
    content: "";
    display: absolute;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 340px;
    position: absolute;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 28px #374894, inset 0 0 20px #0004ff;
}

@keyframes circular {
    0% {
        transform: rotate(0deg);
        box-shadow: 0px 0px 8px #374894, inset 0 0 8px #0004ff;
    }
    25% {
        box-shadow: 0px 0px 16px #2e48b9, inset 5px 5px 16px #8c00ff;
    }
    50% {
        box-shadow: 0px 0px 30px #002efd, inset 10px 10px 60px #7b36b4;
    }
    75% {
        box-shadow: 0px 0px 16px #2e48b9, inset 5px 5px 16px #7b36b4;
    }
    100% {
        transform: rotate(360deg);
        box-shadow: 0px 0px 8px #374894, inset 0 0 8px #0004ff;
    }
}
//*** Profile Image Circle End
