.textSpace {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 15px;
    }

    .text-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .mainText {
        font-size: 50px;
        font-weight: 600;
        margin: 0;
        &.main {
            color: #52af77;
        }
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            font-size: 35px;
            line-height: 45px;
        }
    }

    .skill-badges {
        display: flex;
        margin: auto;
        margin-top: 25px;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin: 10px auto;
        }
    }

    .social-links {
        height: 50px;
        width: 50px;
        margin-right: 15px;
        // border-radius: 15px;
        border-radius: 100%;
        // background-color: rgb(53, 53, 53);
        background-color: white;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            height: 45px;
            width: 45px;
            margin: 3px;
            // border-radius: 100%;
        }
    }

    .quote-txt {
        margin: auto;
        margin-top: 30px;
        font-size: larger;
        font-weight: 500;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            margin-top: 5px;
        }
    }
}

.txt-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0rem 0rem 3px black);
}

.txt-gradient-1 {
    background-image: linear-gradient(279deg,#20C23C,#375AFE 50%,#20c1bc);
}
.txt-gradient-2 {
    background-image: linear-gradient(63deg, #20c23c, #375afe 50%, #20c1bc);
}
